@tailwind base;

@layer base {
  a {
    @apply text-primary;
  }
  a:hover {
    @apply text-primary-darker;
  }

  h1 {
    @apply mt-6 text-center text-3xl font-semibold;
  }

  h2 {
    @apply mt-6 text-2xl font-semibold;
  }

  h3 {
    @apply mt-6 text-xl font-semibold;
  }

  p {
    @apply mt-2;
  }

  ul {
    @apply list-disc list-inside;
  }

  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 540px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  input,
  textarea {
    border: 1px solid #999;
  }
}

/** Application-specific classes **/
.aboutSubHeading {
  @apply leading-none text-center text-3xl font-semibold;
}

.cardHeading {
  @apply mt-0 font-semibold text-xl;
}

.cardSubHeading {
  @apply font-semibold text-lg;
}

.cardBody {
  @apply mt-4;
}

.formButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: hsl(23, 99%, 50%);
}

/* Error when attempting to use lg:text-5xl
   `@apply` cannot be used with lg:text-5xl because 
   lg:text-5xl is nested inside of an at-rule (@media).
*/
.homeSubHeading {
  @apply text-3xl font-semibold;
}

.splitHeading {
  @apply mt-0 text-3xl font-semibold leading-tight;
}

.splitBody {
  @apply mt-8 text-xl font-light leading-relaxed;
}

@tailwind components;

@tailwind utilities;
